<div class="container">
    <h1>Member list</h1>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <uL class="list-unstyled">
                <% @users.each do |user| %>
                    <% if user.profile %>
                        <li>
                            <div class="well row <%= cycle('white-bg', '') %>">
                                <div class="col-sm-4 text-center">
                                    <% if user.profile.avatar %> 
                                        <%= link_to user do %>
                                            <%= image_tag user.profile.avatar.url, class: "user-index-avatar" %> 
                                        <% end %>
                                    <% end %>
                                </div>
                                <div>
                                    <%= link_to user do %>
                                        <h2> <%= user.profile.first_name %> <%= user.profile.last_name %></h2>
                                    <% end %> 
                                        <p> <% if user.plan_id == 2 %>
                                        <span class="label label-danger">Pro</span>
                                    <% end %>
                                            <%= user.profile.job_title %></p>
                                   
                                        
                                    
                                </div>
                            </div>
                        </li>
                    <% end %>
                <% end %>
            </uL>
        </div>
    </div>
</div>